#give{
    width: 50%;
}
.sowslide{
    width: 50vw;
    margin: 5% 10%;
}
.sowsow{
    background: linear-gradient(117.83deg, rgba(112, 111, 111, 0.192) -0.77%, rgba(36, 36, 36, 0.192) 106.52%), url('../../pics/tao.jpeg') fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.dailysow{
    background: linear-gradient(117.83deg, rgba(48, 48, 48, 0.192) -0.77%, rgba(36, 36, 36, 0.192) 106.52%), url('../../pics/bible.jpg') fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

@media only screen and ( max-width: 600px ){
    .sowslide{
        width: 100vw;
        margin: 5% 1%;
    }
}
@media only screen and ( max-width: 1000px ){
    .sowslide{
        width: 80vw;
        margin: 5% 1%;
    }
}
@media only screen and ( max-width: 450px ){
    #give{
        width: 100%;
    }
}