.bottom{
    padding: 2% 0;
    justify-content: center;
    .left{
        width: 30%;
        height: 200px;
        img{
            width: fit-content;
            height: 100%;
        }
    }
    .right{
        padding: 0 2%;
        width: 50%;
        .jh{
            font-size: 2.5rem;
        }
        h1{
            margin: 3% 0;
        }
        #hard{
            color: lightgray;
        }
    }
}

.know{
    background: linear-gradient(117.83deg, rgba(112, 111, 111, 0.7) -0.77%, rgba(36, 36, 36, 0.7) 106.52%), url('../../pics/rccg-logo.png') fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    padding: 10% 0;
}